<% include partials/header %>

<h1> <%=campground.name %> </h1>

<img src="<%=campground.image%>"></img>

<p><%=campground.description%></p>


<% campground.comments.forEach(function(value){ %>
<p>
    <strong><%= value.author %></strong> - <%= value.text %> 
</p>
<% }); %> 
    



<% include partials/footer %>